@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  a {
    color: #2563eb;
  }

  a:hover {
    color: #1d4ed8;
  }

  hr {
    border: 2px solid #e5e7eb;
  }
}

@layer components {
  .prose {
    @apply max-w-3xl mx-auto px-4 py-8 text-[#333333]  font-light leading-relaxed;
  }

  .prose h1 {
    @apply text-3xl font-medium  mb-2;
  }

  .prose h2 {
    @apply text-xl font-semibold  mt-8 mb-4;
  }

  .prose h3 {
    @apply text-lg font-medium  mt-6 mb-3;
  }

  .prose p {
    @apply text-base  leading-relaxed mb-6;
  }

  .prose a {
    @apply text-indigo-600 underline hover:text-indigo-800 transition-colors;
  }

  .prose ul {
    @apply list-disc list-inside mb-6;
  }

  .prose ol {
    @apply list-decimal list-inside mb-6;
  }

  .prose li {
    @apply text-base text-gray-700 mb-3;
  }

  .prose blockquote {
    @apply border-l-4 border-gray-400 pl-6 italic text-gray-600 mb-6;
  }

  .prose pre {
    @apply bg-gray-50 p-6 rounded-md overflow-x-auto text-sm text-gray-800 mb-6;
  }

  .prose code {
    @apply bg-gray-200 px-1 py-0.5 rounded text-sm text-gray-800;
  }

  .prose img {
    @apply mb-6 rounded-lg shadow-sm;
  }
  .prose hr {
    @apply border-t-2 border-gray-300 my-2;
  }
  .prose date {
    @apply text-gray-500 text-sm mb-6;
  }
}
