@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  a {
    @apply text-indigo-600  hover:text-indigo-800 transition-colors hover:underline;
  }

  hr {
    border: 2px solid #e5e7eb;
  }
}

@layer components {
  .prose {
    @apply max-w-3xl mx-auto px-5 py-10 text-[#2d2d2d] font-light leading-relaxed tracking-normal antialiased;
  }

  .prose h1 {
    @apply text-4xl font-semibold leading-tight mb-4 mt-2 text-gray-900;
  }

  .prose h2 {
    @apply text-2xl font-semibold leading-snug mt-10 mb-5 text-gray-800;
  }

  .prose h3 {
    @apply text-xl font-medium leading-snug mt-8 mb-4 text-gray-800;
  }

  .prose p {
    @apply text-base leading-relaxed mb-6 text-gray-800;
  }

  .prose a {
    @apply text-blue-600 underline hover:text-blue-800 transition-colors duration-200;
  }

  .prose ul,
  .prose ol {
    @apply pl-6 mb-6;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ol {
    @apply list-decimal;
  }

  .prose li {
    @apply text-base text-gray-700 leading-relaxed mb-2;
  }

  .prose blockquote {
    @apply border-l-4 border-gray-300 pl-6 italic text-gray-600 bg-gray-50 py-3 px-4 rounded-md mb-6;
  }

  .prose pre {
    @apply bg-gray-900 text-gray-100 text-sm leading-relaxed p-6 rounded-lg overflow-x-auto mb-6 font-mono;
  }

  .prose code {
    @apply bg-gray-100 text-gray-800 px-1.5 py-0.5 rounded font-mono text-sm;
  }

  .prose img {
    @apply mb-6 rounded-lg shadow-md;
  }

  .prose hr {
    @apply border-t border-gray-300 my-8;
  }

  .prose date {
    @apply text-gray-500 text-sm block mb-6;
  }
}
